body{
    margin:0;
    background:black;
    overflow:hidden;
    font-family:Arial,sans-serif;
}

.player{
    position:relative;
    width:100vw;
    height:100vh;
}

video{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:contain;

    background:black;
}

.top-bar{

    position:absolute;

    top:20px;
    left:20px;
    right:20px;

    display:flex;

    align-items:center;

    color:white;

    z-index:100;
}

.logo{

    color:#e50914;

    font-size:32px;

    font-weight:bold;
}

.title{

    margin-left:20px;

    font-size:20px;
}

.close-btn{

    margin-left:auto;

    background:none;

    border:none;

    color:white;

    font-size:32px;

    cursor:pointer;
}

.center-controls{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    display:flex;

    align-items:center;

    gap:25px;

    z-index:100;
}

#playPauseBtn{

    background:none;

    border:none;

    color:white;

    font-size:70px;

    cursor:pointer;
}

.rewind-btn,
.forward-btn{

    background:none;
    border:none;

    width:120px;
    height:120px;

    color:white;

    position:relative;

    font-size:100px;
}

.rewind-btn::before{
    content:"↺";
}

.forward-btn::before{
    content:"↻";
}
.rewind-btn span,
.forward-btn span{

    position:absolute;

    top:55%;
    left:48%;

    transform:translate(-50%,-50%);

    font-size:20px;
    font-weight:normal;
}

#progressBar{

    position:absolute;

    bottom:30px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    accent-color:#e50914;

    z-index:100;
}

#timeDisplay{

    position:absolute;

    bottom:5px;

    left:5.5%;

    color:white;

    font-size:15px;

    z-index:100;
}

.controls{

    opacity:1;

    transition:opacity .4s ease;
}

.hide-controls{

    opacity:0;
}

.player::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:180px;

    background:
    linear-gradient(
    to bottom,
    rgba(0,0,0,.8),
    transparent);

    z-index:50;
}

.player::after{

    content:"";

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    height:180px;

    background:
    linear-gradient(
    to top,
    rgba(0,0,0,.8),
    transparent);

    z-index:50;
}